body {  

    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1 {

    font-size: 50px;
}

.tomato-highlight {

    color: tomato;
    line-height: 0.3;
    
}     

.half-width {

    width: 40%;
    float: left;
    margin: 3%;
    padding: 2%;

}

.half-width img {

    width: 100%;
    
}

.top-banner {

    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{

    height: 500px;
    clear:both;
}
.link-button {

    background-image:linear-gradient(55deg, lightsalmon, tomato);
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.dream-area {

    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h2 {

    font-size: 40px;
}
p{

    color: dimgrey;
}

.designation {

    line-height: 0.5;
}
